nav {
    height: $height*1.6;

    a {
        color: $dark_gray;
        font-family: $avante_bs_extrabold !important;
        text-transform: lowercase;
        font-size: $fontSize *1.7;
        outline: none;
    }

    a:focus {
        color: #fff;
        opacity: 1;
    }

    a:active {
        color: #fff;
        opacity: 1;
    }
}

.active > a {
    background-color: $base;
}

.fixed-header.scroll {
    background: rgba(52, 198, 205, 0.8);
    padding: 0;
}

.item-menu:hover, .item-menu:active, .item-menu:focus {
    transition: 0.3s;
    opacity: 1;

    a {
        color: white;
        transition: 0.2s;
    }
}




